*{
    padding: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Noto Sans Old Permic', sans-serif;
    background-color: #02041f;
}

.promo-1{
    margin: 20px 90px 40px 90px;
    padding:1%;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border-radius: 60px;
}


.promo-pic{
    width: auto;
    height: 410px;
    border-radius: 80px;
}

h1{
    color: white;
    text-align: center;
    margin-top: 30px;
}

p{
    font-family: 'MuseoModerno', cursive;
    color: gold;
}
